.company-info {
  font-family: Montserrat, sans-serif;
  margin-bottom: 40px;
  &__text-top {
    margin-bottom: 147px;
  }
  &__text-paragraph {
    max-width: 573px;
    margin-bottom: 24px;
    @include adaptiv-font(18, 14);
    line-height: 32px;
  }
  &__text-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 551px;
  }
  &__text-subheading {
    @include adaptiv-font(16, 14);
    line-height: 24px;

  }
  &__text-heading {
    color: #282828;
    font-family: Inter, sans-serif;
    @include adaptiv-font(24, 20);
    font-weight: 400;
    line-height: 130%;
  }
}


@media (max-width: 767px) {
  .company-info {
    align-items: center;
    flex-direction: column;
    &__img {
      margin: 20px 0;
    }
    &__text-top {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
    }
    &__text-bottom {
      text-align: center;
    }
    &__text-btn {
      margin: 0 auto;
    }
  }
}
