
* {
  scroll-behavior: smooth;
}

.container {
  max-width: 1552px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.burger-menu__list-item-link,
.nav__list-item-link{
  position: relative;
}

.burger-menu__list-item-link::after,
.nav__list-item-link::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.btn {
  display: inline-flex;
  padding: 16px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 88px;
  background: #000;
  color: #FFF;
  transition: all .5s ease-in-out;
}

.block {
  display: flex;
  justify-content: space-between;
}

.block__child {
  border-radius: $border-radius;
  width: calc(50% - 16px);
}

.heading {
  @include adaptiv-font(40, 24);
}

.main__wrapper {
  background-color: $gray;
}

@media (max-width: 767px) {
  .block {
    flex-direction: column;
    gap: 30px;
  }
  .block__child {
    width: 100%;
  }
}

@media (max-width: 767px) {
    .heading {
      text-align: center;
    }
}

@media (hover: hover) {
  .btn:hover {
    transform: scale(1.05);
  }

  .burger-menu__list-item-link:hover::after,
  .nav__list-item-link:hover::after{
    transform: scaleX(1);
  }
}
