.metalwork {
  padding-top: 24px;
  margin-bottom: 32px;
  &__text {
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end;
  }
  &__text-heading {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
  }
  &__text-heading-span--blue {
    color: $blue;
  }
  &__img {
    border-radius: 24px;
  }
}

@media (max-width: 767px) {
  .metalwork {
    align-items: center;
    flex-direction: column;

    &__text {
      justify-content: center;
    }
  }
}
